<!DOCTYPE html>
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
	<th:block th:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="feature-banner header-text">
						<div class="row">
							<div class="col-lg-4">
								<img alt="" th:src="@{'/img/'+${dto.image}}"
									style="border-radius: 23px;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="game-details">
			<div class="row">
				<div class="col-lg-12">
					<i class="fa fa-star"></i>
					<h2 th:text="${dto.titleName}"><i class="fa fa-star"></i> </h2>
				</div>
				<div class="col-lg-12">
					<div class="content">
						<div class="row">
							<div class="col-lg-6">
								<div class="left-info">
									<div class="left"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</th:block>
</html>