<!DOCTYPE html>
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
	<th:block th:fragment="content">
		<div class="container header-text">
			<!-- 사진하고 설명 묶는 div -->
			<div class="row">
				<!-- 사진 div -->
				<div class="col-lg-6">
					<div class="feature-banner header-text">
						<div class="col-lg-4">
							<img alt="" th:src="@{'/img/'+${dto.image}}"
								style="border-radius: 23px;">
						</div>
					</div>
				</div>
				<!-- 설명 div -->
				<div class="col-lg-6 game-details">
					<div class="content">
						<!-- 가로줄1 -->
						<div class="left-info">
							<p>asdf</p>
						</div>
						<!-- 가로줄2 -->
						<div class="right-info">
							<p>asdf</p>
						</div>
						<!-- 가로줄 하나 더 -->
						<div class="right-info">
							<p>asdf</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</th:block>
</html>