<!DOCTYPE html>
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
	<th:block th:fragment="content">
		<div class="header-text"></div>
		<div class="container">
			<!-- 사진하고 설명 묶는 div -->
			<div class="row">
				<!-- 사진 div -->
				<div class="col-lg-6">
					<img alt="" th:src="@{'/img/'+${dto.image}}"
						style="border-radius: 23px; object-fit: fill">
				</div>
				<!-- 설명 div -->
				<div class="col-lg-6 game-details">
					<div class="content">
						<!-- 가로줄1 -->
						<div class="left-info" style="display: flex;">
							<div class="" style="width: 50%; text-align: left;">
								<h3 th:text="${dto.titleName}"
									style="margin: 0px; padding: 10px"></h3>
							</div>
							<div class="" style="width: 50%; text-align: right;">
								<h4 th:text="${dto.category}" style="margin-bottom: 10px;"></h4>
								<h4 th:text="${dto.price}+원"></h4>
							</div>
						</div>
						<!-- 가로줄2 -->
						<div class="right-info">
							<ul
								style="display: flex; justify-content: center; align-items: center; gap: 30px; padding: 0; margin: 0; list-style: none;">
								<li
									style="display: flex; flex-direction: column; align-items: center; font-size: 20px"><img
									alt="" src="/img/playstation.svg" style="width: 30px">[[${dto.model}]]
								</li>
								<li
									style="display: flex; flex-direction: column; align-items: center;">
									<img alt="" src="/img/all.jpg" id="ageimg"
									style="width: 50px; border-radius: 6px">
								</li>
								<li
									style="display: flex; flex-direction: column; align-items: center; font-size: 15px"><img
									alt="" src="/img/calendar.svg" style="width: 30px">[[${dto.releaseDate}]]</li>
							</ul>
						</div>
						<input type="number" th:value="${dto.ageRate}" id="ageRate" hidden
							readonly>
						<script type="text/javascript">
							const ageRate = document.getElementById("ageRate");
							const img = document.getElementById("ageimg");

							if (ageRate < 12) {
								img.src = "/img/all.jpg";
							} else if (ageRate < 15) {
								img.src = "/img/over12.jpg";
							} else if (ageRate < 18) {
								img.src = "/img/over15.jpg";
							} else {
								img.src = "/img/over18.jpg"
							}
						</script>
						<!-- 가로줄 하나 더 -->
						<div class="right-info">
							<ul
								style="display: flex; justify-content: center; align-items: center; gap: 30px; padding: 0; margin: 0; list-style: none;">
								<li
									style="display: flex; flex-direction: column; align-items: center;">
									<span style="color: white; font-size: 20px">재고:
										[[${dto.stock}]]</span>
								</li>
								<li
									style="display: flex; flex-direction: column; align-items: center;">
									<form id="dtoForm">
										<input name="count" min="1" th:max="${dto.stock}" value="1"
											type="number" class="form-control" style="width: 80px">
										<input name="price" type="number" th:value="${dto.price}"
											hidden readonly> <input name="tNo" type="number"
											th:value="${dto.tNo}" hidden readonly>
									</form>
								</li>
								<li
									style="display: flex; flex-direction: column; align-items: center;">
									<button class="btn btn-lg" id="cartBtn"
										style="font-size: 15px; background-color: #EC6090; color: white; padding: 10px 0px; width: 100px; border-radius: 100px">카트에
										담기</button>
									<button class="btn btn-lg" id="buyBtn"
										style="font-size: 15px; background-color: #EC5050; color: white; padding: 10px 0px; width: 100px; border-radius: 100px">바로구매</button>
								</li>
								<script type="text/javascript">
									const cartBtn = document.getElementById("cartBtn");
									const buyBtn = document.getElementById("buyBtn");
									const dtoForm = document.getElementById("dtoForm");
									cartBtn.addEventListener("click",()=>{
									const formData = new FormData(dtoForm);
										fetch("/cart/cartAdd",{
											method: "POST",
											body: formData
										}).then(result =>{
											if(result.ok){
										alert("카트에 추가되었습니다");
											}})
											.catch(error =>{
												alert("에러가 발생했습니다");
											});
									});
								</script>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</th:block>
</html>