<!DOCTYPE html>
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
	<th:block th:fragment="content">
		<div class="container">
			<div class="row conter">
				<div class="col-md-7" style="max-width: 700px; margin: 0 auto">
					<div class="py-3 text-center">
						<h1 style="color: #EC6090;">타이틀 정보 등록</h1>
					</div>
					<form class="needs validation" method="post"
						action="/title/register" enctype="multipart/form-data">
						<div class="col-sm-12 mb-4">
							<label for="titleName" class="form-label" style="color: white;">타이틀
								제목</label> <input type="text" class="form-control" id="titleName"
								name="titleName" placeholder value required>
						</div>
						<div class="col-sm-12 mb-4">
							<label for="category" class="form-label" style="color: white;">
								카테고리</label> <select class="form-control" id="category" name="category" placeholder value
								required><option th:each="category : ${categories}"
									th:value=${category} th:text="${category}"></select>
						</div>
						<div class="col-sm-12 mb-4">
							<label for="model" class="form-label" style="color: white;">
								기종</label><select class="form-control" id="model" name="model" placeholder value required><option
									th:each="model : ${modelNames}" th:value=${model}
									th:text="${model}"></select>
						</div>
						<div class="col-sm-12 mb-4">
							<label for="price" class="form-label" style="color: white;">
								가격</label> <input type="number" class="form-control" id="price"
								name="price" placeholder value required>
						</div>
						<div class="col-sm-12 mb-4">
							<label for="ageRate" class="form-label" style="color: white;">
								연령제한</label><input type="number" class="form-control" id="ageRate"
								name="ageRate" placeholder value required>
						</div>
						<div class="col-sm-12 mb-4">
							<label for="releaseDate" class="form-label" style="color: white;">
								출시일</label> <input type="date" class="form-control" id="releaseDate"
								name="releaseDate" placeholder value required>
						</div>
						<div class="col-sm-12 mb-4">
							<label for="imgFile" class="form-label" style="color: white;">
								이미지</label> <input type="file" class="form-control" id="imgFile"
								name="file" placeholder value required>
						</div>
						<div class="col-sm-12 mb-4">
							<label for="stock" class="form-label" style="color: white;">
								재고</label><input type="number" class="form-control" id="stock"
								name="stock" placeholder value required>
						</div>
						<hr class="my-4" style="color: white;">
						<button class="w-100 btn btn-lg" type="submit"
							style="background-color: #EC6090; color: white; border-radius: 100px">등록</button>
					</form>
				</div>
			</div>
		</div>
	</th:block>
</th:block>
</html>